<div id="products">
    <div class="selection">
        <h5 class="selection-title">{{ sortButtonTitle }}</h5>
        <div class="selection-btn-group">
            <button v-for="btn in sortButtons" :key="btn" class="select-btn btn btn-outline-secondary"
                    :class="{ 'active' : sortType===btn }" v-on:click="sortProducts($event.target.innerHTML)">
                {{ btn }}
            </button>
        </div>
    </div>

    <div class="products-list  row">
        <div v-for="product in products" class="col-lg-2 col-md-4 col-sm-6 mt-3 mb-3">
            <div class="card h-100">
                <a class="product-link" v-on:click="goToProductPage(product.id)">
                    <img class="product-img" :src="product.url" />
                </a>
                <div class="card-body d-flex flex-column">
                    <p class="card-title h6 text-truncate" :data-title="product.name">{{ product.name }}</p>
                    <p class="mt-auto mb-0 align-self-center">NT $ {{ product.price }} 元</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module" src="~/js/product/products.js" asp-append-version="true"></script>