@{
    ViewData["Title"] = "購物車 - ";
}

<div id="shopping-cart" style="display:none">
    <div v-if="isReady">
        <div class="progress-list" ref="progressList">
            <ol class="list">
                <li v-for="(step, index) in steps" :key="index" :class="{ active : currentProgress[index] }">
                    <i :class="step.icon"></i>
                    {{ step.label }}
                </li>
            </ol>
        </div>

        <div class="cart" ref="cart">
            <div class="table-header">
                <div v-for="(col, index) in tableRow.colName" :class="tableRow.colClass[index]">
                    <span class="table-header-name">{{ col }}</span>
                </div>
            </div>
            <div v-for="cartItem in cartItems" class="table-body">
                <div class="col-sm-2">
                    <img :src="cartItem.ImgUrl" />
                </div>
                <div class="col-sm-4">
                    <p>{{ cartItem.Name }}</p>
                </div>
                <div class="col-sm-1">
                    <p>{{ cartItem.Price }}</p>
                </div>
                <div class="col-sm-3">
                    <div class="input-group justify-content-center">
                        <button class="btn btn-outline-dark minus" v-on:click="adjustItemQuantity($event, cartItem.ID)" ref="decrease">-</button>
                        <input class="item-quentity" type="text" :value="cartItem.Quantity" readonly />
                        <button class="btn btn-outline-dark plus" v-on:click="adjustItemQuantity($event, cartItem.ID)" ref="increase">+</button>
                    </div>
                </div>
                <div class="col-sm-1">
                    <p>{{ numberFormat(cartItem.Subtotal) }}</p>
                </div>
                <div class="col-sm-1">
                    <a class="delete-item" v-on:click="deleteItem(cartItem.ID)"><i class="bi bi-trash"></i></a>
                </div>
            </div>
        </div>

        <div>
            <div class="delivery-form">
                <div class="delivery-information" ref="deliverInformation">
                    <div class="delivery-information-head">
                        <p class="delivery-information-title">{{ deliveryTitle }}</p>
                    </div>
                    <div class="section-body">
                        @* The index 0 is name,  the index 1 is phone, the index 2 is the method of delivery.*@
                        @* The index 3 is the list of cities and the list of districts, the index 4 is address*@
                        @* The index 5 is memo*@
                        <div v-for="(detail, index) in deliveryDetails" class="section">
                            <label v-if="index != 3 && index != 4"
                                   class="col-sm-2"
                                   :for="detail.labelFor"
                                   :key="detail.labelFor">
                                {{ detail.label }}
                            </label>
                            @* The index 0 is name,  the index 1 is phone, the index 4 is address. *@
                            <input v-if="index < 2"
                                   class="form-control"
                                   :placeholder="detail.placeholder"
                                   :id="detail.labelFor"
                                   name="detail.labelFor"
                                   v-model="detail.formValue"
                                   autocomplete="true"
                                   required />
                            @* The index 2 is delivery method. *@
                            <select v-else-if="index === 2" class="form-control" :id="detail.labelFor">
                                <option>{{ detail.deliveryMethod }}</option>
                            </select>
                            @* This div is shown for city and district, the indices are 3 and 4.*@
                            <div v-else-if="index === 3" class="row">
                                @* The index 3 is city. *@
                                <div class="col-sm-6">
                                    <label class="col-sm-2"
                                           :for="detail.labelFor">
                                        {{ detail.label }}
                                    </label>
                                    <select class="form-control"
                                            :id="detail.labelFor"
                                            v-model="detail.formValue"
                                            v-on:change="selectedOption(detail.formValue)">
                                        <option v-for="city in detail.cities"
                                                :value="city.cityCode">
                                            {{ city.cityName }}
                                        </option>
                                    </select>
                                </div>
                                @* The index 4 is district. *@
                                <div class="col-sm-6">
                                    <label>
                                        {{ deliveryDetails[index +1].label }}
                                    </label>
                                    <select class="form-control"
                                            :id="deliveryDetails[index +1].labelFor"
                                            v-model="deliveryDetails[index +1].formValue">
                                        <option v-for="district in deliveryDetails[index +1].districts"
                                                :value="district.districtCode">
                                            {{ district.districtName }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            @* City and district *@
                            @* <div v-else-if="index === 3" class="row">

                            <div class="col-sm-6">
                            <label class="col-sm-2"
                            :for="detail.labelFor.substr(0, 4)">
                            {{ detail.label.substr(0, 2) }}
                            </label>
                            <select class="form-control"
                            :id="detail.labelFor.substr(0, 4)"
                            v-model="currentCityCode"
                            v-on:change="selectedOption(currentCityCode)">
                            <option v-for="city in detail.cities"
                            :value="city.cityCode">
                            {{ city.cityName }}
                            </option>
                            </select>
                            </div>

                            <div class="col-sm-6">
                            <label class="col-sm-2"
                            :for="detail.labelFor.substr(4)">
                            {{ detail.label.substr(2) }}
                            </label>
                            <select class="form-control"
                            :id="detail.labelFor.substr(4)"
                            v-model="currentDistrictCode">
                            <option v-for="district in detail.districts"
                            :value="district.districtCode">
                            {{ district.districtName }}
                            </option>
                            </select>
                            </div>
                            </div> *@

                            @* The index 5 is address. *@
                            <input v-else-if="index=== 5"
                                   class="form-control"
                                   :placeholder="detail.placeholder"
                                   :id="detail.labelFor"
                                   name="detail.labelFor"
                                   autocomplete="true"
                                   v-model="detail.formValue"
                                   required />
                            @* The index 6 is memo. *@
                            <textarea v-else-if="index === 6"
                                      class="form-control"
                                      :placeholder="detail.placeholder"
                                      :id="detail.labelFor"
                                      v-model="detail.formValue"></textarea>
                        </div>
                    </div>
                </div>

                <div class=" bill-check" ref="billCheck">
                    <div class="bill-head">
                        <p class="bill-title">{{ billTitle }}</p>
                    </div>
                    <div class="section-body">
                        <div v-for="(value, key) in bill" class="bill-detail">
                            <span>{{ key }}：{{ value }}</span>
                        </div>
                        <hr />
                        <div class="send-area">
                            <a class="back-btn btn btn-danger" asp-controller="Home" asp-action="Homepage">{{ backBtn }}</a>
                            <button id="check-bill" class="send-btn btn btn-success" v-on:click="createOrder">前往結帳</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div v-else class="cart-empty" ref="cartEmpty">
        <img class="cart-empty-icon" src="~/photo/icon/go-shopping.png" />
        <span class="cart-empty-text">您購物車是空的</span>
        <a class="btn btn-success" asp-action="Homepage" asp-controller="Home">購物去</a>
    </div>
</div>

<script type="module" src="~/js/cart.js" asp-append-version="true"></script>